html{
	height:100%;
}

body{
	background: #757F9A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.navbar{
	opacity: 0.5;
	filter: alpha(opacity=50);
	font-size: 1.4em;
	color: white !important;
}

.navbar-brand{
	font-size: 1.2em;
}

#before-type{
	margin-top: 10%;
	font-family:"Baloo Chettan";
	font-size: 2.5em;
}



#first_section{
	background: #757F9A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}



.heading{
	font-family:"Fjalla One";
	font-size:3.5em;
	text-align:center;
	color: #666666;
}

.intro{
	margin: auto;
	font-family: "Questrial";
	font-size: 2.0em;
	color:#737373;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}

.jumbotron p{
	font-size:1.3em;
	font-family: "Baloo Chettan";
	color: #666666;
}


.info{
	margin: 5%;
	font-family: "Baloo Chettan";
	font-size:2.5em;
	color:#666666;
}



.navbar-inner{
	background:transparent;
}

#highlight{
	color:#6600cc;
}

.typing{
	color:#6600cc;
	font-family: "Fjalla One";
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}


.navbar-default .navbar-nav>li>a{
	font-family:"Fjalla One";
}

.navbar-default .navbar-brand{
	font-family:"Fjalla One";
	font-weight: 700px;
	color:#6600cc;
}



#left_content{
	padding-top: 250px;
}

#right_content{
	padding-top: 100px;
}

hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}



.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
