html {
  height: 100%;
}

body {
  margin-top: 82px;
}

.navbar {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  opacity: 0.8;
}

.navbar-brand {
  font-family: "Anton";
  font-size: 1.65em;
}

.highlight {
  color: #ff751a;
}

.other-links{
	margin-top: 70px;
}

#first_section {
  background: url('../img/background-3.jpeg') no-repeat center center;
  background-size: cover;
  height: 100%;
  min-height: 900px;
}

#about {
  padding-bottom: 50px;
}

#about-header {
  text-align: center;
  padding-top: 100px;
}

#overlay {
  background: rgba(0, 0, 0, 0.4);
  min-height: 900px;
}


.intro {
	text-align: center;
	margin-top: 350px;
	color: white;
	line-height: 90px;
	font-family: "Kalam";
	font-size: 5.0rem;
	text-shadow: 1px 1px 2px black;
}

.info {
  margin: 5%;
  font-family: "Baloo Chettan";
  font-size: 2.5em;
  color: #666666;
}

.navbar-inner {
  background: transparent;
}


.play-section {
  margin-top: 90px;
}

.typing {
	font-family: "Montserrat";
  color: white;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

hr.style-two {
  border: 0;
  height: 1px;
  width: 50%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
